.nav {
  display: flex;
  align-items: center;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  margin-left: 62px;
}

.nav__link {
  color: inherit;
  text-align: right;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  transition: 0.5s;
  font-size: 13px;
}

.nav__drawer {
  display: none;
}

@media (max-width: 800px) {
  .nav__drawer {
    display: block;
  }
  .nav__links {
    display: none;
  }
}
