.search-form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 13px;
}

.search-form__form:focus-within {
  border-bottom: 1px solid #3456f3;
}

.search-form__btn {
  border-radius: 48px;
  background: #3456f3;
  transition: 0.5s;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding: 7px 10px;
}

.search-form__input {
  color: #a0a0a0;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
}

.search-form__subaction {
  display: flex;
}

@media (max-width: 800px) {
  .search-form__subaction {
    justify-content: end;
  }
}

@media (max-width: 500px) {
  .search-form {
    padding: 0 14px;
  }
  .search-form__input {
    font-size: 18px;
  }
  .search-form__subaction {
    justify-content: center;
  }

  .search-form__form {
    padding-bottom: 20px;
  }
}
