.tech {
  padding: 100px 70px;
  background: #272727;
}

.tech__title {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

.tech__subtitle {
  padding: 90px 0 26px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.tech__text {
  margin: 0 auto;
  max-width: 460px;;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  padding-bottom: 100px;
}

.tech__list {
  max-width: 690px;
  width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
margin: 0 auto;
padding: 0;
list-style-type: none;
gap: 10px;

}

.tech__item {
/* margin: 0;
padding: 0; */
min-width: 90px;
min-height: 60px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: 14px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
border-radius: 10px;
background: #303030;
}