.header {
  align-items: center;
  padding: 18px 70px;
  position: relative;
}

.header__promo {
  background-color: #073042;
}

@media (max-width: 780px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 18px 14px;
  }
}
