.register {
  margin-top: 70px;
}
.form_label {
align-self: flex-start;
color: #8B8B8B;
font-size: 10px;
font-weight: 400;
line-height: normal;
margin-bottom: 10px;
}

.form__input {
width: 100%;
color: #fff;
border-radius: 8px;
background: #2F2F2F;
border: none;
padding: 15px;
font-size: 13px;
font-weight: 400;
line-height: normal;
box-sizing: border-box;
}

.form__input-error {
  color: #EE3465;
}

.form__span {
  
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  min-height: 10px;
  width: 100%;
  opacity: 0;
}

.form__span-error {
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  min-height: 10px;
  width: 100%;
  opacity: 1;
}