.about-me {
  padding: 110px 70px 125px;
}

.about-me__title {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.about-me__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 66px;
}

.stident__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
}

.about-me__job {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding: 18px 0 26px;
  margin: 0;
}

.about-me__intro {
  margin: 0;
  max-width: 599px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding-bottom: 99px;
}

.about-me__link {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  align-self: flex-start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 780px) {
  .about-me {
    padding: 90px 50px;
  }
  .about-me__wrap {
    gap: 49px;
  }
  .about-me__intro {
    padding-bottom: 87px;
  }
}

@media (max-width: 500px) {
  .about-me {
    padding: 70px 14px;
  }

  .about-me__wrap {
    padding-top: 60px;
    flex-wrap: wrap;
  }

  .about-me__photo {
    order: 1;
    margin: 0 auto;
  }

  .about-me__content {
    order: 2;
  }
  .about-me__intro {
    padding-bottom: 40px;
  }
}
