.auth-layout {
  max-width: 396px;
  padding-top: 70px;
  margin: 0 auto;
}

.auth-layout__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  margin: 40px 0 36px;
}

@media (max-width: 800px) {
  .auth-layout {
    padding-top: 232px;
  }
}

@media (max-width: 500px) {
  .auth-layout {
    padding: 56px 30px 30px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .auth-layout__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-layout__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

@media (max-height: 700px) {
  .auth-layout {
    padding: 56px 30px 30px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
